.resPositive {
    font-size: 40px;
    font-weight: "bold";
    color: green;
}


.resNegative {
    font-size: 40px;
    font-weight: "bold";
    color: red;
}

.resZero {
    font-size: 40px;
    font-weight: "Bld";
    color: yellow;
}