.resPositive {
    font-size: 40px;
    font-weight: bold;
    color: green;
}


.resNegative {
    font-size: 40px;
    font-weight: bold;
    color: red;
}

.resZero {
    font-size: 40px;
    font-weight: Bold;
    color: yellow;
}

.resError {
    font-size: 40px;
    font-weight: Bold;
    color: blue;
}

.buttonEjecutar {
    display: inline-flex;
    height: 60px;
    padding: 0;
    background: rgb(2, 206, 172);
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: Quicksand, sans-serif;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.buttonEjecutar:hover {
    background: rgb(15, 102, 87);
}

.buttonEjecutar:active {
    background: rgb(6, 39, 33);
}

.button__text, .button__icon {
    display: inline-flex;
    align-items:center;
    padding: 0 24px;
    color: white;
    height: 100%;

}

.cuadroNum1, .cuadroNum2 {
    display: inline-flex;
    padding: 10px 24px;
    background-color: rgb(111, 111, 192);
    border: none;
    outline: none;
    border-radius: 5px;

    font-family: Roboto, sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.sumador {
    width: 900px;
    border: 5px solid rgb(19, 119, 201);
    background-color: rgba(114, 175, 224, 0.568);
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    align-items:center;
    

    font-family: Roboto, sans-serif;
    font-size: 24px;
    text-align: center;
}